@tailwind components;

@layer components {
    /* Custom button styles */
    .custom-button {
      @apply px-4 bg-primary text-white py-2 rounded-lg font-semibold hover:bg-red-700 transition;

    }
    
    /* Custom header styles */
    .custom-header {
      @apply text-5xl font-extrabold;
    }
    
    /* Custom paragraph styles */
    .custom-paragraph {
      @apply mt-4 text-lg;
    } 

    /* Custom glass property */
    .glass {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.6px);
      -webkit-backdrop-filter: blur(5.6px);
      border: 1px solid rgba(255, 255, 255, 0.28);
    }
}

/* Custom theme variables */
@theme {
  --color-primary: #bb0000;
}