@tailwind components;

@layer components {
    /* Custom button styles */
    .custom-button {
      @apply px-4 bg-primary text-white py-2 rounded-lg font-semibold hover:bg-red-700 transition;

    }
    
    /* Custom header styles */
    .custom-header {
      @apply text-5xl font-extrabold;
    }
    
    /* Custom paragraph styles */
    .custom-paragraph {
      @apply mt-4 text-lg;
    } 

    /* Custom glassmorphic property */
    .glass {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.6px);
      -webkit-backdrop-filter: blur(5.6px);
      border: 1px solid rgba(255, 255, 255, 0.28);
    }
    
    /* Bright reaction styles */
    /* .bright-reaction {
      transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    } */

    .scale-reaction {
      transition: transform 0.3s ease-in-out;
    }
    
    .scale-reaction:hover {
      transform: scale(1.1); /* Aumenta ligeiramente */
    }
    
    /*.bright-reaction:hover {
      box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.4);
    } */
    
    /* Subtle glow effect */
    .subtle-glow:hover::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.3);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    
    .subtle-glow:hover::before {
      opacity: 1;
    }
    
    /* Light upward movement */
    .light-move:hover {
      transform: translateY(-3px) scale(1.05);
    }
    
    /* Soft pulsing effect */
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.02);
      }
      100% {
        transform: scale(1);
      }
    }
    
    .soft-pulse:hover {
      animation: pulse 0.5s ease-in-out;
    }
    
    /* Subtle border illumination */
    .border-glow:hover {
      border-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 8px 30px rgba(255, 255, 255, 0.4);
    }
    
}

/* Custom theme variables */
@theme {
  --color-primary: rgba(210, 18, 46, 1);
  --color-primary-100: rgba(210, 18, 46, 0.1);
  --color-primary-200: rgba(210, 18, 46, 0.2);
  --color-primary-300: rgba(210, 18, 46, 0.3);
  --color-primary-400: rgba(210, 18, 46, 0.4);
  --color-primary-500: rgba(210, 18, 46, 0.5);
  --color-primary-600: rgba(210, 18, 46, 0.6);
  --color-primary-700: rgba(210, 18, 46, 0.7);
  --color-primary-800: rgba(210, 18, 46, 0.8);
  --color-primary-900: rgba(210, 18, 46, 0.9);
}